---
title: Vitals module
keywords: sample
summary: "Vitals module"
sidebar: angular_sidebar
permalink: angular-vitals.html
folder: angular/plugin-tiles
filename: angular-vitals.html
---

<h4><a href="https://github.com/PulseTile/PulseTile/blob/develop/src/app/pulsetileui/pages/vitals/vitals-list.component.js">Vitals List</a></h4>
{% include image.html file="vitals/vitalslist.png" url="#" alt="Vitals list view" caption="Vitals List" %}

<h5>API URL</h5>
<pre>
  /api/patients/{patientId}/vitalsigns
</pre>
<h5>GET response</h5>
<pre>
  {
    author:"Dr Tony Shannon"
    dateCreate:1438572182000
    diastolicBP:"64.0"
    heartRate:"45.0"
    levelOfConsciousness:"Alert"
    newsScore:12
    oxygenSaturation:"97.0"
    oxygenSupplemental:"true"
    respirationRate:"23.0"
    source:"ethercis"
    sourceId:"27ee5e25-4c32-46d2-b45a-f74149d72030"
    systolicBP:"92.0"
    temperature:35.4
  }
</pre>

<h5>Component structure</h5>
<pre>
  //component template
  let templateVitalsList = require('./vitals-list.html');

  //controller init
  class VitalsListController {
    constructor($scope, $state, $stateParams, $ngRedux, vitalsActions, serviceRequests, usSpinnerService, $window, $timeout, serviceVitalsSigns, serviceFormatted) {
    }

  //component init
  const VitalsListComponent = {
    template: templateVitalsList,
    controller: VitalsListController
  };

  //inject services/modules to controller
  VitalsListController.$inject = ['$scope', '$state', '$stateParams', '$ngRedux', 'vitalsActions', 'serviceRequests', 'usSpinnerService', '$window', '$timeout', 'serviceVitalsSigns', 'serviceFormatted'];
  //es6 export for component
  export default VitalsListComponent;
</pre>

<h4><a href="https://github.com/PulseTile/PulseTile/blob/develop/src/app/pulsetileui/pages/vitals/vitals-detail.component.js">Vitals Detail</a></h4>
{% include image.html file="vitals/vitalsdetail.png" url="#" alt="Vitals Detail" caption="Vitals Detail" %}

<h5>API URL</h5>
<pre>
  /api/patients/{patientId}/vitalsigns/{sourceId}
</pre>
<h5>GET response</h5>
<pre>
  {
    author:"Dr Tony Shannon"
    dateCreate:1438553462518
    diastolicBP:60
    heartRate:45
    levelOfConsciousness:"Alert"
    newsScore:12
    oxygenSaturation:97
    oxygenSupplemental:"false"
    respirationRate:25
    source:"Marand"
    sourceId:"2f4dff89-a41b-465b-85b6-b81d8a59e7a0"
    systolicBP:90
    temperature:35.4
  }
</pre>

<h5>Component structure</h5>
<pre>
  //component template
  let templateVitalsDetail = require('./vitals-detail.html');

  //controller init
  class VitalsDetailController {
    constructor($scope, $state, $stateParams, $ngRedux, patientsActions, vitalsActions, serviceRequests, usSpinnerService, serviceVitalsSigns) {
    }

  //component init
  const VitalsDetailComponent = {
    template: templateVitalsDetail,
    controller: VitalsDetailController
  };

  //inject services/modules to controller
  VitalsDetailController.$inject = ['$scope', '$state', '$stateParams', '$ngRedux', 'patientsActions', 'vitalsActions', 'serviceRequests', 'usSpinnerService', 'serviceVitalsSigns'];
  //es6 export for component
  export default VitalsDetailComponent;
</pre>

{% include image.html file="vitals/vitalsedit.png" url="#" alt="Vitals Edit" caption="Vitals Edit" %}

<h5>API URL</h5>
<pre>
  /api/patients/{patientId}/vitalsigns
</pre>
<h5>GET response</h5>
<pre>
  {
    author:"Dr Tony Shannon"
    dateCreate:1491571062000
    diastolicBP:60
    heartRate:45
    levelOfConsciousness:"Pain"
    newsScore:11
    oxygenSaturation:97
    oxygenSupplemental:false
    respirationRate:25
    source:"Marand"
    sourceId:"2f4dff89-a41b-465b-85b6-b81d8a59e7a0"
    systolicBP:90
    temperature:35.4
  }
</pre>

<h4><a href="https://github.com/PulseTile/PulseTile/blob/develop/src/app/pulsetileui/pages/vitals/vitals-create.component.js">Vitals Create</a></h4>
{% include image.html file="vitals/vitalscreate.png" url="#" alt="Vitals Create" caption="Vitals Create" %}

<h5>API URL</h5>
<pre>
  /api/patients/{patientId}/vitalsigns
</pre>
<h5>POST response</h5>
<pre>
  {
    author:"ripple_osi"
    dateCreate:1491571176000
    diastolicBP:"77"
    heartRate:"55"
    levelOfConsciousness:"Verbal"
    newsScore:16
    oxygenSaturation:"33"
    oxygenSupplemental:true
    respirationRate:"33"
    systolicBP:"88"
    temperature:"88"
  }
</pre>

<h5>Component structure</h5>
<pre>
  //component template
  let templateVitalsCreate = require('./vitals-create.html');

  //controller init
  class VitalsCreateController {
    constructor($scope, $state, $stateParams, $ngRedux, patientsActions, vitalsActions, serviceRequests, serviceVitalsSigns) {
    }

  //component init
  const VitalsCreateComponent = {
    template: templateVitalsCreate,
    controller: VitalsCreateController
  };

  //inject services/modules to controller
  VitalsCreateController.$inject = ['$scope', '$state', '$stateParams', '$ngRedux', 'patientsActions', 'vitalsActions', 'serviceRequests', 'serviceVitalsSigns'];
  //es6 export for component
  export default VitalsCreateComponent;
</pre>

{% include image.html file="vitals/vitalscharts.png" url="#" alt="Vitals Create" caption="Vitals Chart" %}
{% include image.html file="vitals/vitalschartdetail.png" url="#" alt="Vitals Create" caption="Vitals Chart Detail" %}

<h4><a href="https://github.com/PulseTile/PulseTile/blob/develop/src/app/pulsetileui/pages/vitals/vitals-actions.js">Vitals Actions</a></h4>

<h5>Component structure</h5>
<pre>
  //es6 import modules
  import {bindActionCreators} from 'redux';
  import * as types from '../../../constants/ActionTypes';

  //es6 export function
  export function all(patientId) {
    return {
      types: [types.VITALS, types.VITALS_SUCCESS, types.VITALS_ERROR],

      shouldCallAPI: (state) => !state.vitals.response,

      config: {
        method: 'get',
        url: '/api/patients/' + patientId + '/vitalsigns'
      },

      meta: {
        timestamp: Date.now()
      }
    };
  }
</pre>

<h4><a href="https://github.com/PulseTile/PulseTile/blob/develop/src/app/pulsetileui/pages/vitals/vitals-reducer-all.js">Vitals Reducer</a></h4>

<h5>Component structure</h5>
<pre>
  //es6 import modules
  import * as types from '../../../constants/ActionTypes';

  const INITIAL_STATE = {
    isFetching: false,
    error: false,
    data: null,
    dataGet: null,
    dataCreate: null,
    dataUpdate: null
  };

  //es6 export function
  export default function vitals(state = INITIAL_STATE, action) {
    const {payload} = action;

  //redux action for Vitals requests
    var actions = {
      [[types.VITALS]: (state) => {
        return Object.assign({}, state, {
          isFetching: true,
          error: false
        });
      }
</pre>
