<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{% if page.summary %}{{ page.summary | strip_html | strip_newlines | truncate: 160 }}{% endif %}">
<meta name="keywords" content="{{page.tags}}{% if page.tags %}, {% endif %} {{page.keywords}}">
<title>{{ page.title }} | {{ site.site_title }}</title>
<link rel="stylesheet" href="{{ "css/syntax.css" }}">


<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="{{ "/css/modern-business.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/lavish-bootstrap.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/customstyles.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/theme-orange.css" | prepend: site.baseurl }}">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="{{ "/js/jquery.navgoco.min.js" }}"></script>
<script src="{{ "/js/jquery.zoom.min.js" | prepend: site.baseurl }}"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/2.0.0/anchor.min.js"></script>
<script src="{{ "/js/toc.js" }}"></script>
<script src="{{ "/js/customscripts.js" }}"></script>

<link rel="apple-touch-icon" sizes="57x57" href="{{ "/images/apple-icon-57x57.png" | prepend: site.baseurl }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ "/images/apple-icon-60x60.png" | prepend: site.baseurl }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ "/images/apple-icon-72x72.png" | prepend: site.baseurl }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ "/images/apple-icon-76x76.png" | prepend: site.baseurl }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ "/images/apple-icon-114x114.png" | prepend: site.baseurl }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ "/images/apple-icon-120x120.png" | prepend: site.baseurl }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ "/images/apple-icon-144x144.png" | prepend: site.baseurl }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ "/images/apple-icon-152x152.png" | prepend: site.baseurl }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/images/apple-icon-180x180.png" | prepend: site.baseurl }}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ "/images/android-icon-192x192.png" | prepend: site.baseurl }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/images/favicon-32x32.png" | prepend: site.baseurl }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ "/images/favicon-96x96.png" | prepend: site.baseurl }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/images/favicon-16x16.png" | prepend: site.baseurl }}">
<link rel="manifest" href="{{ "/images/manifest.json" | prepend: site.baseurl }}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ "/images/ms-icon-144x144.png" | prepend: site.baseurl }}">
<meta name="theme-color" content="#ffffff">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "feed.xml" | prepend: site.baseurll }}">
