---
title: Search module
keywords: sample
summary: "Search module"
sidebar: angular_sidebar
permalink: angular-search.html
folder: angular/core-tiles
filename: angular-search.html
---
<h4><a href="https://github.com/PulseTile/PulseTile/blob/develop/src/app/pulsetileui/search/search.component.js">Main Search</a></h4>
{% include image.html file="search/mainsearch.png" url="#" alt="Main Search" caption="Main Search" %}

<h5>API URL</h5>
<pre>
  /api/search/patient/table
</pre>
<h5>POST data</h5>
<pre>
  {
    orderType:"ASC"
    pageNumber:"1"
    searchString:"ivor Cox"
  }
</pre>

<h5>Component structure</h5>
<pre>
  //component template
  let templateSearch = require('./search.html');

  //controller init
  class SearchController {
    constructor($scope, serviceRequests, $state) {

    }
  }

  //component init
  const SearchComponent = {
    template: templateSearch,
    controller: SearchController
  };

  //inject services/modules to controller
  SearchController.$inject = ['$scope', 'serviceRequests', '$state'];
   //es6 export for component
  export default SearchComponent;
</pre>

<h4><a href="https://github.com/PulseTile/PulseTile/blob/develop/src/app/pulsetileui/search/search-advanced.component.js">Advanced Search and Clinical Query Search</a></h4>

<h4>Advanced Search</h4>
{% include image.html file="search/patientssearch.png" url="#" alt="Advanced Search" caption="Advanced Search" %}

<h5>API URL</h5>
<pre>
  /api/patients/advancedSearch
</pre>
<h5>POST data</h5>
<pre>
  {
    nhsNumber: patientId
  }
</pre>

<h4>Clinical Query Search</h4>
{% include image.html file="search/clinical-query-search.jpg" url="#" alt="Clinical Query Search" caption="Clinical Query Search" %}

<h5>API URL</h5>
<pre>
  /api/patients/querySearch
</pre>
<h5>POST data</h5>
<pre>
  {
    maxValue: 93,
    minValue: 10,
    queryContains: true,
    queryText: "Ivor",
    sexFemale: false,
    sexMale: true,
    type: "allergies",
  }
</pre>


<h5>Component structure</h5>
<pre>
  //component template
  let templateSearch = require('./search-advanced.html');

  //controller init
  class SearchAdvancedController {
    constructor($scope, serviceRequests, $state, $timeout, $rootScope, serviceFormatted) {
    }

  //component init
  const SearchAdvancedComponent = {
    bindings: {
      option: '='
    },
    template: templateSearch,
    controller: SearchAdvancedController
  };

  //inject services/modules to controller
  SearchAdvancedController.$inject = ['$scope', 'serviceRequests', '$state', '$timeout', '$rootScope', 'serviceFormatted'];
  //es6 export for component
  export default SearchAdvancedComponent;
</pre>


<h4><a href="https://github.com/PulseTile/PulseTile/blob/develop/src/app/pulsetileui/search/report-chart.component.js">Search Report after Clinical Query Searching</a></h4>
{% include image.html file="search/search-report.jpg" url="#" alt="Search Report after Clinical Query Searching with results data" caption="Search Report after Clinical Query Searching with results data" %}
{% include image.html file="search/search-report-empty.jpg" url="#" alt="Search Report after Clinical Query Searching with empty results data" caption="Search Report after Clinical Query Searching with empty results data" %}

<h5>Component structure</h5>
<pre>
  //component template
  let templateReportChart = require('./report-chart.html');

  //controller init
  class ReportChartController {
    constructor($scope, $state, $ngRedux, $stateParams, searchActions, serviceRequests, Patient, $window, $timeout, serviceFormatted) {
    }

  //component init
  const ReportChartComponent = {
    template: templateReportChart,
    controller: ReportChartController
  };

  //inject services/modules to controller
  ReportChartController.$inject = ['$scope', '$state', '$ngRedux', '$stateParams', 'searchActions', 'serviceRequests', 'Patient', '$window', '$timeout', 'serviceFormatted'];
  //es6 export for component
  export default ReportChartController;
</pre>
