---
title: Procedures module
keywords: sample
summary: "Procedures module"
sidebar: product2_sidebar
toc: false
permalink: Core_Tiles_Procedures.html
folder: product2
---

{% include image.html file="procedures/procedureslist.png" url="#" alt="Procedures list view" caption="Procedures List" %}
{% include image.html file="procedures/proceduresdetail.png" url="#" alt="Procedures Detail" caption="Procedures Detail" %}
{% include image.html file="procedures/proceduresedit.png" url="#" alt="Procedures Edit" caption="Procedures Edit" %}
{% include image.html file="procedures/procedurescreate.png" url="#" alt="Procedures Create" caption="Procedures Create" %}