---
title: Medications module
keywords: sample
summary: "Medications module"
sidebar: product2_sidebar
permalink: Core_Tiles_Medications.html
folder: product2
---

{% include image.html file="medications/medicationlist.png" url="#" alt="Medications list view" caption="Medications List" %}
{% include image.html file="medications/medicationdetail.png" url="#" alt="Medications Detail" caption="Medications Detail" %}
{% include image.html file="medications/medicationprescription.png" url="#" alt="Medications Create" caption="Medications Prescription" %}
{% include image.html file="medications/medicationedit.png" url="#" alt="Medications Edit" caption="Medications Edit" %}