---
title: Events module
keywords: sample
summary: "Events module"
sidebar: product2_sidebar
permalink: Core_Tiles_Events.html
folder: product2
---

{% include image.html file="events/eventslist.png" url="#" alt="Contacts list view" caption="Events List" %}
{% include image.html file="events/eventsdetail.png" url="#" alt="Contacts Detail" caption="Events Detail" %}
{% include image.html file="events/eventschat.png" url="#" alt="Contacts Create" caption="Events Chat" %}
{% include image.html file="events/eventsstart.png" url="#" alt="Contacts Detail" caption="Events Start Appointment" %}
{% include image.html file="events/eventsline.png" url="#" alt="Contacts Edit" caption="Events Time line" %}
{% include image.html file="events/eventscreate.png" url="#" alt="Contacts list view" caption="Events Create" %}
{% include image.html file="events/eventscreatecalendar.png" url="#" alt="Contacts Edit" caption="Events Calendar" %}