---
title: Contacts module
keywords: sample
summary: "Contacts module"
sidebar: product2_sidebar
permalink: Core_Tiles_Contacts.html
folder: product2
---

{% include image.html file="contacts/contactslist.png" url="#" alt="Contacts list view" caption="Contacts List" %}
{% include image.html file="contacts/contactsdetail.png" url="#" alt="Contacts Detail" caption="Contacts Detail" %}
{% include image.html file="contacts/contactsedit.png" url="#" alt="Contacts Edit" caption="Contacts Edit" %}
{% include image.html file="contacts/contactscreate.png" url="#" alt="Contacts Create" caption="Contacts Create" %}