---
title: Personal Notes module
keywords: sample
summary: "Personal Notes module"
sidebar: product2_sidebar
permalink: Core_Tiles_PersonalNotes.html
folder: product2
---

{% include image.html file="personalnotes/personalnoteslist.png" url="#" alt="Personal Notes list view" caption="Personal Notes List" %}
{% include image.html file="personalnotes/personalnotesdetail.png" url="#" alt="Personal Notes Detail" caption="Personal Notes Detail" %}
{% include image.html file="personalnotes/personalnotesedit.png" url="#" alt="Personal Notes Edit" caption="Personal Notes Edit" %}
{% include image.html file="personalnotes/personalnotescreate.png" url="#" alt="Personal Notes Create" caption="Personal Notes Create" %}