---
title: Referrals module
keywords: sample
summary: "Referrals module"
sidebar: product2_sidebar
permalink: Core_Tiles_Referrals.html
folder: product2
---

{% include image.html file="referrals/referralslist.png" url="#" alt="Referrals list view" caption="Referrals List" %}
{% include image.html file="referrals/referralsdetail.png" url="#" alt="Referrals Detail" caption="Referrals Detail" %}
{% include image.html file="referrals/referralsedit.png" url="#" alt="Referrals Edit" caption="Referrals Edit" %}
{% include image.html file="referrals/referralscreate.png" url="#" alt="Referrals Create" caption="Referrals Create" %}