---
title: Allergies module
keywords: sample
summary: "Allergies module"
sidebar: product2_sidebar
permalink: Core_Tiles_Allergies.html
folder: product2
---


{% include image.html file="allergies/allergiesgeneral.png" url="#" alt="Allergy list view" caption="Allergies List" %}
{% include image.html file="allergies/allergiesdetail.png" url="#" alt="Allergy Detail" caption="Allergies Detail" %}
{% include image.html file="allergies/allergiesedit.png" url="#" alt="Allergy Edit" caption="Allergies Edit" %}
{% include image.html file="allergies/allergiescreate.png" url="#" alt="Allergy Create" caption="Allergies Create" %}
{% include image.html file="allergies/allergiesfilter.png" url="#" alt="Allergy Filter" caption="Allergies Filter" %}

