---
title: Clinical Notes module
keywords: sample
summary: "Clinical Notes module"
sidebar: product2_sidebar
permalink: Core_Tiles_ClinicalNotes.html
folder: product2
---

{% include image.html file="clinicalnotes/clinicalnoteslist.png" url="#" alt="Clinical Notes list view" caption="Clinical Notes List" %}
{% include image.html file="clinicalnotes/clinicalnotesdetail.png" url="#" alt="Clinical Notes Detail" caption="Clinical Notes Detail" %}
{% include image.html file="clinicalnotes/clinicalnotesedit.png" url="#" alt="Clinical Notes Edit" caption="Clinical Notes Edit" %}
{% include image.html file="clinicalnotes/clinicalnotescreate.png" url="#" alt="Clinical Notes Create" caption="Clinical Notes Create" %}