---
title: Multipatients view
keywords: sample
summary: "Multipatients view"
sidebar: react_sidebar
permalink: react-multipatients.html
folder: react/core-tiles
filename: react-multipatients.html
---

<h4><a href="https://github.com/PulseTile/PulseTile-React/blob/develop/src/components/containers/PatientsList/PatientsList.js">Multipatients view</a></h4>
{% include image.html file="multipatientsview/react-patients-list.png" url="#" alt="Multipatients view" caption="Multipatients view" %}

<h5>API URL</h5>
<pre>
  /api/patients
</pre>
<h5>GET data</h5>
<pre>
  {
  	address:"6948 Et St., Halesowen, Worcestershire, VX27 5DV"
    dateOfBirth:-806976000000
    department:"Neighbourhood"
    gender:"Male"
    gpAddress:"Hamilton Practice, 5544 Ante Street, Hamilton, Lanarkshire, N06 5LP"
    gpName:"Goff Carolyn D."
    id:"9999999000"
    name:"Ivor Cox"
    nhsNumber:"9999999000"
    pasNo:"352541"
    phone:"(011981) 32362"
  }
</pre>

<h5>Component structure</h5>
<pre>
  // import packages
  import React, { PureComponent } from 'react';
  import SortableTablePatients from '../SortableTable/SortableTablePatients';
  import PaginationBlock from '../../presentational/PaginationBlock/PaginationBlock';
  import PatientsListHeader from './header/PatientsListHeader';
  import ViewPatienDropdown from './actions-column/ViewPatienDropdown';
  import PatientAccessDisclaimerModal from './PatientAccessDisclaimerModal';
  import { operationsOnCollection } from '../../../utils/plugin-helpers.utils';

  // React component
  export default class PatientsList extends PureComponent {

    // component template
    render() {
      return ()
    }
  }
</pre>

{% include image.html file="multipatientsview/react-patients-list-settings.png" url="#" alt="Multipatients view" caption="Multipatients settings" %}
