---
title: Charts module
keywords: sample
summary: "Charts module"
sidebar: product1_sidebar
permalink: Core_Tiles_Charts.html
folder: product1
---

{% include image.html file="charts/charts.png" url="#" alt="Charts view" caption="Charts" %}

<h2>API URL: /api/patients</h2>
<h4>GET response</h4>
<pre>
    {
        address:"6948 Et St., Halesowen, Worcestershire, VX27 5DV"
        dateOfBirth:-806976000000
        department:"Neighbourhood"
        gender:"Male"
        gpAddress:"Hamilton Practice, 5544 Ante Street, Hamilton, Lanarkshire, N06 5LP"
        gpName:"Goff Carolyn D."
        id:"9999999000"
        name:"Ivor Cox"nhsNumber:"9999999000"
        pasNo:"352541"
        phone:"(011981) 32362"
    }
</pre>

{% include image.html file="charts/charts2.png" url="#" alt="Charts view" caption="Charts By Geography" %}