---
title: Multipatients view
keywords: sample
summary: "Multipatients view"
sidebar: product1_sidebar
permalink: Core_Tiles_Multipatients.html
folder: product1
---

{% include image.html file="multipatientsview/multipatientslist.png" url="#" alt="Charts view" caption="Multipatients view" %}

<h4>API URL</h4>
<pre>
    /api/patients
</pre>
<h4>GET data</h4>
<pre>
    {
        address:"6948 Et St., Halesowen, Worcestershire, VX27 5DV"
        dateOfBirth:-806976000000
        department:"Neighbourhood"
        gender:"Male"
        gpAddress:"Hamilton Practice, 5544 Ante Street, Hamilton, Lanarkshire, N06 5LP"
        gpName:"Goff Carolyn D."
        id:"9999999000"
        name:"Ivor Cox"
        nhsNumber:"9999999000"
        pasNo:"352541"
        phone:"(011981) 32362"
    }
</pre>

{% include image.html file="multipatientsview/listsfilter.png" url="#" alt="Charts view" caption="Multipatients filters" %}
