---
title: Diagnosis module
keywords: sample
summary: "Diagnosis module"
sidebar: product1_sidebar
permalink: Core_Tiles_Problems_Diagnosis.html
folder: product1
---

{% include image.html file="diagnosis/diagnoseslist.png" url="#" alt="Diagnosis list view" caption="Diagnosis List" %}
{% include image.html file="diagnosis/diagnosesdetail.png" url="#" alt="Diagnosis Detail" caption="Diagnosis Detail" %}
{% include image.html file="diagnosis/diagnosesedit.png" url="#" alt="Diagnosis Edit" caption="Diagnosis Edit" %}
{% include image.html file="diagnosis/diagnosescreate.png" url="#" alt="Diagnosis Create" caption="Diagnosis Create" %}