---
title: MDT module
keywords: sample
summary: "MDT module"
sidebar: product1_sidebar
permalink: Core_Tiles_MDT.html
folder: product1
---

{% include image.html file="mdt/mdtlist.png" url="#" alt="MDT list view" caption="MDT List" %}
{% include image.html file="mdt/mdtdetail.png" url="#" alt="MDT Detail" caption="MDT Detail" %}
{% include image.html file="mdt/mdtedit.png" url="#" alt="MDT Edit" caption="MDT Edit" %}
{% include image.html file="mdt/mdtcreate.png" url="#" alt="MDT Create" caption="MDT Create" %}