---
title: Vitals module
keywords: sample
summary: "Vitals module"
sidebar: product1_sidebar
permalink: Core_Tiles_Vitals.html
folder: product1
---

{% include image.html file="vitals/vitalslist.png" url="#" alt="Vitals list view" caption="Vitals List" %}
{% include image.html file="vitals/vitalsdetail.png" url="#" alt="Vitals Detail" caption="Vitals Detail" %}
{% include image.html file="vitals/vitalsedit.png" url="#" alt="Vitals Edit" caption="Vitals Edit" %}
{% include image.html file="vitals/vitalscreate.png" url="#" alt="Vitals Create" caption="Vitals Create" %}
{% include image.html file="vitals/vitalscharts.png" url="#" alt="Vitals Create" caption="Vitals Chart" %}
{% include image.html file="vitals/vitalschartdetail.png" url="#" alt="Vitals Create" caption="Vitals Chart Detail" %}