---
title: Vaccinations module
keywords: sample
summary: "Vaccinations module"
sidebar: product1_sidebar
permalink: Core_Tiles_Vaccinations.html
folder: product1
---

{% include image.html file="vaccinations/vaccinationslist.png" url="#" alt="Vaccinations list view" caption="Vaccinations List" %}
{% include image.html file="vaccinations/vaccinationsdetail.png" url="#" alt="Vaccinations Detail" caption="Vaccinations Detail" %}
{% include image.html file="vaccinations/vaccinationsedit.png" url="#" alt="Vaccinations Edit" caption="Vaccinations Edit" %}
{% include image.html file="vaccinations/vaccinationscreate.png" url="#" alt="Vaccinations Create" caption="Vaccinations Create" %}