---
title: JSON Array Allergies data
keywords: sample
summary: "JSON for Allergies module"
sidebar: product1_sidebar
permalink: Core_Tiles_Allergies.html
folder: product1
---


{% include image.html file="allergies/allergiesgeneral.png" url="#" alt="Allergy list view" caption="Allergies List" %}
{% include image.html file="allergies/allergies-detail.png" url="#" alt="Allergy Detail" caption="Allergies Detail" %}
{% include image.html file="allergies/allergies-edit.png" url="#" alt="Allergy Edit" caption="Allergies Edit" %}
{% include image.html file="allergies/allergies-filter.png" url="#" alt="Allergy Filter" caption="Allergies Filter" %}

